.oj-button {
  padding-left: 30px;
  padding-right: 30px;
  height: 70px;
  font-size: 24px;
  background-color: #1e87f0;
}

.oj-button:hover {
  background-color: #0f7ae5;
}

.oj-button:focus {
  background-color: #0f7ae5;
}