.operation-job-page {
  background-color: #151515;
}

.oj-container {
  background-color: #fff;
  height: auto;
}

.oj-title {
  color: #1e87f0;
  line-height: 1.0;
  font-family: 'Baloo Tamma';
  font-size: 120px;
  margin-bottom: 0px;
  transform: translateY(28px);
}

@media (max-width: 480px) {
  .oj-title {
    font-size: 70px;
  }
}

.oj-details-h2 {
  margin-top: 0px;
}

/*TODO fix same as ^*/
.oj-no-margin {
  margin: 0px;
}

.oj-full-flex {
  flex: 1;
}