.oj-navbar {
  background-color: #1e87f0;
  color: white;
}

.oj-height {
  /*uikit forces line-height to be 40px*/
  line-height: 50px !important;
  height: 50px !important;
}

.oj-navbar-toggle {
  color: white;
  font-size: 20px;
}

.oj-navbar-toggle:hover {
  color: white;
}

.oj-navbar-toggle:focus {
  color: white;
}

.uk-navbar-nav>li>a {
  color: white;
  font-family: 'Baloo Tamma';
  font-size: 18px;
  font-weight: normal;
}

/*the reason I need scss grr*/
.uk-navbar-nav>li>a:focus {
  color: white;
  background-color: #0f7ae5;
}

.uk-navbar-nav>li>a:hover {
  color: white;
  background-color: #0f7ae5;
  cursor: pointer;
}