html {
  background-color: #1e87f0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.oj-image-panel {
  height: 100vh;
  width: auto;
}

.oj-content-panel {
  flex: 1;
}

.oj-header {
  text-align: center;
  position: relative;
  top: 60%;
  transform: translateY(-30%);
}

.oj-name {
  color: #fff;
  line-height: 1.2;
  font-family: 'Baloo Tamma';
  font-size: 120px;
  margin-bottom: 0px;
}

.oj-button {
  padding-left: 30px;
  padding-right: 30px;
  height: 70px;
  font-size: 24px;
  background-color: #1e87f0;
}

.oj-button:hover {
  background-color: #0f7ae5;
}

.oj-button:focus {
  background-color: #0f7ae5;
}