html {
  height: 100%;
}
body {
  font-family: sans-serif;
  height: 100%;
}
#root {
  height: 100%;
}


.operation-job {
  height: 100%;
  background: url('batman.jpg') no-repeat fixed;
  background-size: cover;
}

.oj-name {
  color: #1e87f0;
  font-family: 'Baloo Tamma';
  font-size: 100px;
}


.oj-header {
  padding: 20px;
  text-align: center;
  position: relative;
  top: 70%;
  transform: translateY(-30%);
}