html {
  background-color: #1e87f0;
}

.oj-image-panel {
  height: 100vh;
  width: auto;
}

.oj-header {
  padding: 20px;
  text-align: center;
  position: relative;
  top: 60%;
  transform: translateY(-30%);
}

.oj-footer {
  padding-top: 40px;
}

.oj-name {
  color: #fff;
  font-family: 'Baloo Tamma';
  font-size: 120px;
  margin-bottom: 0px;
}

.oj-button {
  height: 70px;
}